@font-face {
    font-family: 'Montague';
    src: url('fonts/Montague.ttf');
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/img/5_background/desert.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Montague';
}

h1 {
    font-size: 47px;
    font-weight: 300;
}

canvas {
    background-color: black;
    display: block;
}

.headline {
    display: flex;
    justify-content: space-between;
    width: 720px;
    align-items: center;
}

.speaker {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

#startButton {
    position: absolute;
    bottom: 13px;
    right: 13px;
    font-size: 26px;
    background-color: #d5cb15;
    color: #9d5409;
    border-radius: 12px;
    border-color: #9d5409;
    border-width: 3px;
    border-style: solid;
    box-shadow: 1px 1px 17px 4px #000000;
}

#restartButton {
    position: absolute;
    top: 31px;
    left: 37%;
    font-size: 26px;
    background-color: #d5cb15;
    color: #9d5409;
    border-radius: 12px;
    border-color: #9d5409;
    border-width: 3px;
    border-style: solid;
    box-shadow: 1px 1px 17px 4px #000000;
}

.screen {
    width: 720px;
    max-height: 480px;
    position: relative;
}

.d-none {
    display: none;
}

#fullscreen {
    position: absolute;
    right: 5px;
    top: 5px;
    opacity: 0.7;
}

.description {
    display: flex;
    width: 550px;
    justify-content: space-between;
    align-items: center;
}


.description2 {
    display: flex;
    align-items: center;
}

.description3 {
    margin: 5px;
}

/* Smartphones */

@media only screen and (max-width:720px){
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px) {
    canvas {
        height: 100vh;
    }
}