@font-face {
    font-family: 'Montague';
    src: url('fonts/Montague.ttf');
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/5_background/desert.jpg');
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: 0;
    font-family: 'Montague';
}

h1 {
    font-size: 47px;
    font-weight: 300;
}

canvas {
    background-color: black;
}

.headline {
    display: flex;
    justify-content: space-between;
    width: 720px;
    align-items: center;
}

.speaker {
    cursor: pointer;
    height: 40px;
    width: 40px;
}

button {
    position: absolute;
    bottom: 13px;
    right: 13px;
    font-size: 26px;
}

.screen {
    width:720px;
    max-height:480px; 
    position: relative;
}